<app-header></app-header>
<div class="contenedor-app container">
  <router-outlet></router-outlet> 
  <!-- <h2 class="text-center">{{ titulo }}</h2>
  <h3>Directiva *ngIf</h3>
  <div *ngIf="ocultar" style="width: 60%;">
    <h3>Estado</h3>
    <p>Esto es un mensaje de la aplicación</p>
  </div>
  <button class="btn btn-outline-primary" (click)="ocultarEstado()">Ocultar / Mostrar</button>
  <br/><br/>
  <h3>Directiva *ngFor</h3>
  <div *ngFor="let persona of personas; let indice = index">
    <div>
      <p>Nombre: {{ persona.nombre }} - Edad: {{ persona.edad }} años</p>
    </div>
  </div> -->
</div>
